{
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 140,
  "parser": "typescript",
  "overrides": [
    {
      "files": ["*.ts", "*.vue"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
